.main-detail {
    background-color: #ffffff;
    padding: 40px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.title {
    margin-bottom: 50px;
}

.nav-tabs {
    background-color: #EEEEEE;
}

.nav-tabs li a {
    margin-top: 7px;
    line-height: 30px;
    padding: 10px 25px;
}

.nav-tabs li:not(.active) a {
    color: #0A74B0;
}

.summary-content-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.treatment-results {
    margin-bottom: 20px;
    width: 80%;
}

.treatment-results h3 {
    margin-bottom: 10px;
}

.treatment-results th {
    text-align: center;
    background-color: #DAE9F5;
}

.summary-content-tab img, .result-content-tab img {
    width: 25px;
    height: 25px;
}

.treatment-results .criteria {
    font-weight: bolder;
    text-align: center;
}

.center-icon {
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.center-icon img {
    display: inline-block;
}

.overall-rating {
    width: 40%;
}

.table-info {
    margin-bottom: -15px;
}

.table-info th, td {
    border-top: none !important;
    border-bottom: 1px solid #ddd;
    line-height: 35px !important;
}

.table-info th {
    width: 30%;
}

.table-info td {
    width: 70%;
}

.table-treatment th {
    width: 20%;
}

.table-treatment td {
    width: 80%;
}

.table-info a {
    color: #337ab7;
    text-decoration: none;
}

.badge {
    padding: 5px 8px;
    border-radius: 5px;
}

.panel-heading {
    cursor: pointer;
}
.panel-heading.active {
    background-color: #337ab7;
    color: white;
}
.panel-heading:not(.active) {
    color: #4C3333;
}
.panel-collapse {
    transition: height 1s ease;
}
.arrow {
    float: right;
    font-size: 14px;
}

.panel-body {
    padding: 20px;
}

.result-content-tab .dpc-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .dpc-tb {
    margin-bottom: 0
}

.result-content-tab .stage-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .surv-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .stage-detail-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .surv-detail-tb th {
    background-color: #DAE9F5;
}

@media (max-width: 1200px) {
    .summary-content-tab {
        flex-direction: column;
    }

    .overall-rating {
        width: 100%;
    }

    .treatment-results {
        width: 100%;
    }
}