.main-detail {
    background-color: #ffffff;
    padding: 15px 30px 40px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.title {
    margin-bottom: 50px;
}

.nav-tabs {
    background-color: #EEEEEE;
}

.nav-tabs li a {
    margin-top: 7px;
    line-height: 30px;
    padding: 10px 25px;
}

.nav-tabs li:not(.active) a {
    color: #0A74B0;
}

.summary-content-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.treatment-results {
    margin-bottom: 20px;
    width: 80%;
}

.treatment-results h3 {
    margin-bottom: 10px;
}

.treatment-results th {
    text-align: center;
    background-color: #DAE9F5;
}

.summary-content-tab img, .result-content-tab img {
    width: 25px;
    height: 25px;
}

.treatment-results .criteria {
    font-weight: bolder;
    text-align: left;
}

.center-icon {
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.center-icon img {
    display: inline-block;
}

.overall-rating {
    width: 40%;
}

.table-info {
    margin-bottom: -15px;
}

.table-info th, td {
    border-top: none !important;
    border-bottom: 1px solid #ddd;
    line-height: 35px !important;
}

.table-info th {
    width: 30%;
}

.table-info td {
    width: 70%;
}

.table-treatment th {
    width: 20%;
}

.table-treatment td {
    width: 80%;
}

.table-info a {
    color: #337ab7;
    text-decoration: none;
}

.badge {
    padding: 5px 8px;
    border-radius: 5px;
}

.panel-heading {
    cursor: pointer;
}
.panel-heading.active {
    background-color: #337ab7;
    color: white;
}
.panel-heading:not(.active) {
    color: #4C3333;
}
.panel-collapse {
    transition: height 1s ease;
}
.arrow {
    float: right;
    font-size: 14px;
}

.panel-body {
    padding: 20px;
}

.result-content-tab .dpc-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .dpc-tb {
    margin-bottom: 0
}

.result-content-tab .stage-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .surv-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .stage-detail-tb th {
    background-color: #DAE9F5;
}

.result-content-tab .surv-detail-tb th {
    background-color: #DAE9F5;
}

.search-result-header {
    margin-bottom: 50px;
}

.search-result-header-right {
    float:right;
    display: flex;
    align-items: center;
}

.search-result-header-right span {
    margin-right: 14px;
    font-weight: bolder;
    font-size: 14px;
}

.confirm-button {
    background-color: #0D99FF;
    color: #fff;
    border: none;
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-footer {
    padding: 15px;
    text-align: right;
}

.popup-footer button {
    background-color: #0D99FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.popup-footer button:hover {
    background-color: #0984dc;
}

#prevPDF {
    display: none;
}

#nextPDF {
    display: none;
}

.note-container {
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.note-container .header {
    position: unset;
    background: linear-gradient(to right, #56B2F5, #ffffff);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid #c3e4ed;
}

.note-container .header .label {
    color: #FFFFFF;
    font-size: 16px;
}

.note-container .header .date {
    color: #FFFFFF;
    font-size: 16px;
}

.note-container .content {
    padding: 20px;
    color: #999;
    font-size: 14px;
    line-height: 2;
    position: relative;
    border: 1px solid #c3e4ed;
    border-top: 4px solid #c3e4ed;
    border-radius: 5px;
    margin-top:2px
}

.note-container .text-with-lines {
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-right: 10px;
    line-height: 40px;
    text-decoration: underline dotted #84c2d3;
    min-height: 250px;
    min-width: 62vw;
}

.note-container .text-with-lines textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background: #f9f9f9;
    resize: none;
}

.note-content {
    display: inline-block;
    margin-top: 15px;
}

.btn-edit-memo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #33322F;
    transition: background-color 0.3s;
    height: 30px;
    font-weight: 700;
    width: 80px;
    float: right;
    background-color: #DEF3FD;
    border: 1px solid #3FB6B6;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-edit-memo img {
    max-height: 20px;
    max-width: 20px;
}

.btn-edit-memo .text {
    line-height: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

@media (max-width: 1200px) {
    .summary-content-tab {
        flex-direction: column;
    }

    .overall-rating {
        width: 100%;
    }

    .treatment-results {
        width: 100%;
    }

    .print-footer {
        flex-direction: column;
        gap: 20px;
    }

    .note-container .text-with-lines {
        min-width: unset;
    }

    .note-container .header {
        background: #56B2F5;
    }
}